{% extends 'layout/front.html.twig' %}

{% block body %}

    <main>
        <div class="container-lg">
            <div class="row">

                <div class="col-md-12">
                    <h3>Récents</h3>
                </div>


                <div class="row">
                    {% for song in songs %}
                    <div class="col-lg-3 col-md-4 col-sm-6 song-item">
                        <a href="{{ path("song.show",{id: song.id}) }}">
                            <img class="poster" src="img/e3.jpg">
                        </a>
                        <h4 class="song-title">{{ song.title }}</h4>
                        <p class="singer">{{ song.singer }}</p>
                    </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </main>

{% endblock %}