<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>{% block title %}SoGood!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="style/css/bootstrap.css">
        <link rel="stylesheet" href="style/css/style.css">
    {% endblock %}
</head>
<body>
    <header class="container">
        <div class="nav">
            <h1 class="navbar-brand">SoGood</h1>
            <nav class="navbar-nav d-inline">
                <a href="#" class="nav-item">Home</a>
                <a href="#" class="nav-item">Home</a>
                <a href="#" class="nav-item">Home</a>
            </nav>
        </div>
    </header>

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="style/js/bootstrap.js"></script>
    {% endblock %}
</body>
</html>